.img-fluid {
  position: relative;
  top: 0.4rem;
  margin: 50% 0 50% 0;
  width: 4em;
  height: 2em;
}

.sidenav-container {
  height: 100%;
}

.header {
  background-color: #F05A36;
}

.menu{
  .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
  }

  .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 1;
    transition: all 0.5s ease;
  }
} /*final de menu*/

.sidenav {
  width: 250px;
  background: #11101d;

  .lista {
    margin-top: 20px;

    li {
      position: relative;
      margin: 8px 0;
      list-style: none;
      text-align: center;

      i {
        position: relative;
        top: 0.5rem;
        min-width: 50px;
        font-size: 28px;
        text-align: center;
        line-height: 60px;
        background-repeat: no-repeat;
        background-position: center;
        background-size:auto;
      }
      a {
        display: flex;
        height: 100%;
        width: 100%;
        
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        background: #11101d;
      }

      /* final de a */

      a:hover {
        background: #fff;
      }

      a .links_name {
        position: relative;
        top: 0.5rem;
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        white-space: nowrap;
        opacity: 1;
        pointer-events: none;
        transition: 0.4s;
      }

      a:hover .links_name,
      a:hover i {
        transition: all 0.5s ease;
        color: #11101d;
      }

      /* imagenes de los iconos */
      .compras-i {
      
        background-image: url('../../assets/icons/compras.svg'); 
    }
      .cliente-i {
      
        background-image: url('../../assets/icons/clientes.svg');
    }
    .ventas-i {
      
      background-image: url('../../assets/icons/ventas.svg'); 
  }
    .inventario-i {
      
      background-image: url('../../assets/icons/inventarioCopy.svg'); 
  }
    .facturacion-i {
      
      background-image: url('../../assets/icons/facturacion.svg'); 
  }
    .suplidores-i {
      
      background-image: url('../../assets/icons/suplidores.svg'); 
  }
    .empleados-i {
      
      background-image: url('../../assets/icons/empleados.svg'); 
  }
    .configuracion-i {
      
      background-image: url('../../assets/icons/configuracion.svg'); 
  }
    
    } /* final de li*/

    li:hover .cliente-i {
      
        background-image: url('../../assets/icons/clientesCopy.svg'); 
    }

    li:hover .compras-i {
      
        background-image: url('../../assets/icons/comprasCopy.svg'); 
    }
    li:hover .ventas-i {
      
        background-image: url('../../assets/icons/ventasCopy.svg'); 
    }
    li:hover .inventario-i {
      
        background-image: url('../../assets/icons/inventarioCopy.svg'); 
    }
    li:hover .facturacion-i {
      
        background-image: url('../../assets/icons/facturacionCopy.svg'); 
    }
    li:hover .suplidores-i {
      
        background-image: url('../../assets/icons/suplidoresCopy.svg'); 
    }
    li:hover .empleados-i {
      
        background-image: url('../../assets/icons/empleadosCopy.svg'); 
    }

    li:hover .configuracion-i {
      
        background-image: url('../../assets/icons/configuracionCopy.svg'); 
    }

    i {
      height: 50px;
      line-height: 50px;
      font-size: 18px;
      border-radius: 12px;
    }

  }

  /* final de lista*/

}

/* final de sidevar*/

.sidenav .mat-toolbar {
  background: inherit;
  background-color: #F05A36;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}