<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="menu">
      <div class="logo-details">
        <i class='bx bxl-codepen icon'></i>
        <div class="logo_name">MENU</div>
        <i class='bx bx-menu' id="btn"> </i>
      </div>
    </mat-toolbar>

    <mat-nav-list class="lista">
     
      <li>
        <a>
          <i class="cliente-i"></i>
          <span class="links_name">clientes</span>
        </a>
      </li><!-- final del item -->
      
      <li>
        <a>
          <i class="compras-i"></i>
          <span class="links_name">compras</span>
        </a>
      </li><!-- final del item -->
     
      <li>
        <a>
          <i class="ventas-i"></i>
          <span class="links_name">ventas</span>
        </a>
      </li><!-- final del item -->
      
      <li>
        <a>
          <i class="inventario-i"></i>
          <span class="links_name">inventario</span>
        </a>
      </li><!-- final del item -->
     
      <li>
        <a>
          <i class="facturacion-i"></i>
          <span class="links_name">facturacion</span>
        </a>
      </li><!-- final del item -->

      <li>
        <a>
          <i class="suplidores-i"></i>
          <span class="links_name">suplidores</span>
        </a>
      </li><!-- final del item -->

      <li>
        <a>
          <i class="empleados-i"></i>
          <span class="links_name">empleados</span>
        </a>
      </li><!-- final del item -->

      <li>
        <a>
          <i class="configuracion-i"></i>
          <span class="links_name">configuracion</span>
        </a>
      </li><!-- final del item -->

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="header">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <img src="../../assets/icons/bx--menu.svg" alt="menu">
        </button>
      
      <div><img class="img-fluid" src="../../assets/img/miliano pos (1).png" alt="imagen-menu"></div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <!-- dasboard -->
    <app-dasboard></app-dasboard>
  </mat-sidenav-content>
</mat-sidenav-container>
